* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Arial, sans-serif;
}

body {
    width: 100%;
    background: linear-gradient(180deg, #ff00c8 0%, #8d17b7 40%, #4b0082 100%);
}

.backgroud {
    width: 100%;
    background: linear-gradient(180deg, #ff00c8 0%, #8d17b7 40%, #4b0082 100%);
}

.container {
    width: 100%;
    max-width: 430px;
    min-height: 100vh;
    padding: 20px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
}

.login-box {
    width: 100%;
    color: #fff;
    border-radius: 12px;
}

.titulo {
    text-align: center;
    font-size: 26px;
    font-weight: bold;
    color: #6c23b8;
    padding: 12px 20px;
}

.box-titulo {
    width: fit-content;
    margin-bottom: 30px;
    background: #ffffff;
    border-radius: 20px;
    margin: 0 auto 30px auto;
}

.form-login {
    display: flex;
    flex-direction: column;
}

label {
    font-weight: 700;
    font-size: 15px;
}

input[type="email"],
input[type="password"],
input[type="text"],
input[type="date"] {
    width: 100%;
    padding: 12px 16px;
    margin: 8px 0 20px 0;
    border-radius: 25px;
    border: none;
    background: #fff;
    font-size: 16px;
}

.sobreVoce {
    width: 100%;
    resize: none;
    padding: 12px 16px;
    margin: 8px 0 20px 0;
    border-radius: 25px;
    border: none;
    background: #fff;
    font-size: 16px;
    height: 30vh;
}

.btn {
    display: flex;
    flex-direction: column;
    padding: 12px;
    border: none;
    border-radius: 25px;
    background: #ff00c899;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
    margin-top: 10px;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    width: 100%;
}

.btns {
    flex: 1;
    padding: 12px;
    border: none;
    border-radius: 25px;
    background: #ff00c899;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
    margin-top: 10px;
    text-decoration: none;
    text-align: center;
}

.btn-group {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.btn:hover {
    background: rgba(255, 0, 200, 0.8);
}

.links-recuperacao {
    margin-top: 20px;
    text-align: center;
}

.links-recuperacao a {
    color: #fff;
    text-decoration: none;
}

.cadastro {
    font-weight: bold;
    text-decoration: underline;
}

.header-cadastro {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 25px;
}

.back-btn {
    font-size: 35px;
    text-decoration: none;
    color: white;
}

.titulo-cadastro {
    font-size: 22px;
    font-weight: 700;
}

.upload-img {
    width: 100%;
    border-radius: 14px;
    margin: 10px 0 25px 0;
}

.upload-container {
    background: rgba(228, 223, 223, 0.15);
    border-radius: 20px;
    padding: 20px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
}

.upload-container.box {
    align-items: center;
}

.upload {
    padding: 12px 20px;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;
    width: fit-content;
}

.upload-btn:hover {
    background: #d900ac;
}

.check-area {
    margin-left: auto;
    margin-right: auto;
    ;
}

.input-group {
    position: relative;
    width: 100%;
}

.input-group input {
    width: 100%;
    padding-right: 40px;
}

.input-group i {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-30%);
    font-size: 20px;
    cursor: pointer;
    color: #8d17b7;
}

.maiusculo {
    text-transform: uppercase;
}

h2 {
    text-align: center;
    padding-bottom: 30px;
}

.btn-voltar {
    top: 20px;
    left: 20px;
    position: absolute;
    font-size: 30px;
    color: white;
    cursor: pointer;
    padding-bottom: 20px;
}

.ri-arrow-left-line {
    color: white;
}

.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #00000080;
    justify-content: center;
    align-items: center;
}

.popup-content {
    background: linear-gradient(180deg, #ff00c8 0%, #8d17b7 40%, #4b0082 100%);
    padding: 20px;
    width: 300px;
    height: fit-content;
    border-radius: 10px;
    text-align: center;
    position: relative;
}

.close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 24px;
    cursor: pointer;
}

a.abrir-popup {
    padding: 10px 20px;
    background: #4CAF50;
    color: #fff;
    border-radius: 8px;
    text-decoration: none;
    display: inline-block;
}

.ri-search-line {
    color: white;
    font-size: 35px;
}

.top-bar {
    width: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.search-box {
    position: relative;
    width: 100%;
    padding: 10px;
    
}

.search-box input {
    width: 100%;
    padding: 12px;
    padding-left: 40px;
    border-radius: 25px;
}

.search-box i {
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-75%);
    font-size: 20px;
    color: #ff00c8;
}

.btn-search {
    background: transparent;
    border: none;
    font-size: 22px;
    color: #800080;
    cursor: pointer;
}

.menu-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 7px;
}

.menu-item i {
    background-color: #ff00c8;
    color: white;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
}

.menu-item.active i {
    transform: scale(1.15);
    transition: 0.2s;
}

.menu-item span {
    font-size: 11px;
    color: #fff;
    margin-top: 3px;
}

#map {
    width: 100%;
    height: 100%;
}

.top-bar {
    width: 100%;
    height: 10%;
    max-width: 500px;
    background: linear-gradient(90deg, #b300ff, #7700cc);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 0 20px 20px;
    position: fixed;
    top: 0;
    z-index: 10;
    left: 50%;
    transform: translateX(-50%);
}

.bottom-menu {
    height: 12%;
    background: linear-gradient(90deg, #b300ff, #7700cc);
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 20px 20px 0 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 10;
    max-width: 500px;
    left: 50%;
    transform: translateX(-50%);
}

a {
    text-decoration: none;
}

.map {
    width: 100%;
    height: 100vh;
}

#perfilOverlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #00000080;
    z-index: 20;
}

#perfilPanel {
    position: fixed;
    bottom: -100%;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 100%;
    transition: bottom 0.35s ease;
    z-index: 25;
}

.perfil-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.perfil-header i {
    font-size: 28px;
    cursor: pointer;
}

.perfil-body {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.perfil-body input {
    padding: 10px;
    border-radius: 12px;
    border: 1px solid #bbb;
    font-size: 16px;
}

.no-scroll {
    overflow: hidden;
    height: 100vh;
}

#perfilPanel {
    overflow-y: auto;
}

.preferencias-input {
    display: flex;
    flex-direction: row;
    gap: 10px;

}

.lista-preferencias {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 15px;

}

.upload-img {
    width: 100%;
    max-width: 350px;
    height: auto;
    object-fit: contain;

    border-radius: 14px;
    border: 2px dashed #ffffff60;
    /* borda pontilhada */

    margin: 10px 0 25px 0;
    background: #ffffff20;
    padding: 15px;
    /* leve aumento para deixar bonito */
}

.modal-crop {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.85);
    z-index: 1000;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.crop-container {
    width: 90%;
    max-width: 500px;
    height: 60vh;
    background: #333;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 20px;
}

.crop-container img {
    display: block;
    max-width: 100%;
}

.crop-controls {
    display: flex;
    gap: 15px;
}

.btn-crop {
    padding: 10px 25px;
    border-radius: 20px;
    border: none;
    font-weight: bold;
    cursor: pointer;
    font-size: 16px;
}

.btn-confirmar {
    background: #00e676;
    color: #fff;
}

.btn-cancelar {
    background: #ff3b3b;
    color: #fff;
}