* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Arial, sans-serif;
}

body {
    width: 100vw;
    background: linear-gradient(180deg, #ff00c8 0%, #8d17b7 40%, #4b0082 100%);

}


.container {
    width: 100%;
    max-width: 430px;
    min-height: 100vh;
    padding: 20px;
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
}

.login-box {
    width: 100%;
    color: #fff;
    border-radius: 12px;
}

.titulo {
    text-align: center;
    font-size: 26px;
    font-weight: bold;
    color: #6c23b8;
    padding: 12px 20px;

}

.box-titulo {
    width: fit-content;
    margin-bottom: 30px;
    background: #ffffff;
    border-radius: 20px;
    margin: 0 auto 30px auto;
}

.form-login {
    display: flex;
    flex-direction: column;
}

label {
    font-weight: 700;
    font-size: 15px;
}

input[type="email"],
input[type="password"],
input[type="text"] {
    width: 100%;
    padding: 12px 16px;
    margin: 8px 0 20px 0;
    border-radius: 25px;
    border: none;
    background: #fff;
    font-size: 16px;
}



.btn {
    display: flex;
    flex-direction: column;
    padding: 12px;
    border: none;
    border-radius: 25px;
    background: rgba(255, 0, 200, 0.6);
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
    margin-top: 10px;
    font-weight: bold;
    text-decoration: none;
    text-align: center;

}

.btn:hover {
    background: rgba(255, 0, 200, 0.8);
}

.btns{
    display: flex;
    flex-direction: line;
    gap: 10px;
}

.links-recuperacao {
    margin-top: 20px;
    text-align: center;
    
}

.links-recuperacao a {
    color: #fff;
    text-decoration: none;
}

.cadastro {
    font-weight: bold;
    text-decoration: underline;
}

.header-cadastro {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 25px;
}

.back-btn {
    font-size: 35px;
    text-decoration: none;
    color: white;
}

.titulo-cadastro {
    font-size: 22px;
    font-weight: 700;
}

.upload-img {
    width: 100%;
    border-radius: 14px;
    margin: 10px 0 25px 0;
}

.upload-container {
    background: rgba(228, 223, 223, 0.15);
    border-radius: 20px;
    padding: 20px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
}

.upload-container.box{
    align-items: center;
}

.upload{
    padding: 12px 20px;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;
    width: fit-content;
}

.upload-btn:hover {
    background: #d900ac;
}

.check-area {
    margin-left: auto;
    margin-right: auto;
    ;
}